@keyframes scroll {
   to {
      transform: translateY(calc(-50% - 0.5rem));
   }
}

@keyframes stencil {
   from {
      background-position:
         50% 50%,
         50% 50%;
   }
   to {
      background-position:
         350% 50%,
         350% 50%;
   }
}

.animate-scroll {
   animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

   &.animation-play-state-paused:hover {
      animation-play-state: paused;
   }
}

.animate-stencil:after {
   animation: stencil 60s linear infinite;
}
